

.menuMaintenance_contents {
    display: flex;
    justify-content: center;
}


.menu_show_table {
    margin: 40px 0;
    box-sizing: border box;
    border: 0;
    outline: 0;
}


.menu_show_table__title h2 {
    color: white;
    padding: 20px 0;
}


.menu_show_table__title td {
    color: white;
    padding: 10px 0;
    background-color: var(--am-color2);
}


.menu_show_table__title{
    background-color: var(--am-color3);
    text-align: center;
    font-size: 15px;
}
.menu_show_table__title.top{
	border-radius: 5px 5px 0 0;
	background-color: var(--am-color-pink);
}

.menu_show_table__row {
    text-overflow: ellipsis;
    background-color: #ebefcd;
    text-align: center;
    width: 800px;
    font-size: 13px;
    word-break: break-all;
}

.menu_show_table__row:nth-child(2n) {
    background-color: white;
     vertical-align: middle;
}

.menu_show_table__cell {
    border-right: 2px solid white;
    min-width: 50px;
    max-width: 200px;
    margin-top:20px;
    vertical-align: middle;
}

.menu_show_table__cell:nth-child(1) {
    min-width: 30px;
}




.menu_side_menu.btn_container>td{
    width: 100%;
    margin: 0;
    padding: 0;

}


.big_button {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 10px;
    height: 42px;
    background-color: var(--am-color3  );
    font-size: 14px;
    color: #fff;
    transition: background-color ease 0.2s;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.big_button.pink {

    background-color: var(--am-color-pink);

}



.big_button.delete {
    background-color: #800080;
}

.big_button.change {
    background-color: #40750b;
}

.big_button.gray {
    background-color: gray;
}

.big_button:hover {
    background-color: #0b476b;
}

.small_button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    min-width: 50px;
    height: 42px;
    background-color: #c0c0c0;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    padding-top: 5px;
    transition: all ease 0.2s;
    cursor: pointer;
    margin-bottom: 1px;
}

.small_button:hover {
    background-color: #0b476b;

}


.menu_panel__input:FOCUS {
    background-color: #4ed4c7;
    color: #fff;
}
